{:database/config {:initial-state {}
                   :mock?         #profile {:prod false
                                            :dev  true
                                            :test true}
                   :mock-data     #include "database/mock-data.edn"}
 :server/config   {:port         #long #or [#env SERVER_PORT 3000]
                   :server-type  :jetty
                   :endpoint     #profile {:prod "0.0.0.0"
                                           :dev  "0.0.0.0"
                                           :test "0.0.0.0"}
                   :join?        #profile {:prod true
                                           :dev  false
                                           :test false}
                   :auth-hash    #or [#env AUTH_TOKEN ""]
                   :routes       #req-resolver simple-http-server.routes/routes
                   :dependencies {:db #ig/ref :database/config}}}
